### Завдання для практичного заняття 2.5: 

#### Мета завдання:
- Створити дві взаємопов’язані таблиці в реляційній базі даних.
- Заповнити ці таблиці даними з файлу Excel.
- Виконати 20 SQL-запитів (вибірка, агрегація, JOIN).
- Використати GitHub для зберігання та управління проєктом.

### Загальне завдання:
1. **Створіть базу даних з двома таблицями**: одна таблиця містить інформацію про персонал, друга — про відповідні підрозділи або операції.
2. **Заповніть базу даних із файлу Excel**.
3. **Створіть та виконайте 20 SQL-запитів** для вибірки даних, з'єднання таблиць (JOIN), групування (GROUP BY), фільтрації (WHERE) та інших операцій.
4. **Збережіть результат у файли та завантажте у відповідну папку репозиторію GitHub**.



#### **Варіант 1**: Оперативні підрозділи
- **Таблиця 1: Officers**
  - Поля: `ID`, `Name`, `Rank`, `Unit_ID`, `Date_Assigned`.
- **Таблиця 2: Units**
  - Поля: `Unit_ID`, `Unit_Name`, `Base_Location`, `Commander`.

#### **Варіант 2**: Логістичне забезпечення
- **Таблиця 1: Logistics_Personnel**
  - Поля: `ID`, `Name`, `Position`, `Logistics_Unit_ID`, `Date_Assigned`.
- **Таблиця 2: Logistics_Units**
  - Поля: `Logistics_Unit_ID`, `Logistics_Unit_Name`, `Supplies_Available`, `Base_Location`.

#### **Варіант 3**: Планування операцій
- **Таблиця 1: Operations_Staff**
  - Поля: `ID`, `Name`, `Role`, `Operation_ID`, `Date_Assigned`.
- **Таблиця 2: Operations**
  - Поля: `Operation_ID`, `Operation_Name`, `Commander`, `Operation_Start_Date`, `Operation_End_Date`.

#### **Варіант 4**: Облік техніки
- **Таблиця 1: Equipment_Personnel**
  - Поля: `ID`, `Name`, `Role`, `Equipment_ID`, `Assigned_Unit`.
- **Таблиця 2: Equipment**
  - Поля: `Equipment_ID`, `Equipment_Type`, `Condition`, `Last_Inspection_Date`.

#### **Варіант 5**: Облік озброєння
- **Таблиця 1: Weapons_Personnel**
  - Поля: `ID`, `Name`, `Rank`, `Weapon_ID`, `Assigned_Unit`.
- **Таблиця 2: Weapons`
  - Поля: `Weapon_ID`, `Weapon_Type`, `Ammunition_Available`, `Last_Inspection_Date`.

#### **Варіант 6**: Військові навчання
- **Таблиця 1: Training_Personnel**
  - Поля: `ID`, `Name`, `Rank`, `Training_Program_ID`, `Date_Enrolled`.
- **Таблиця 2: Training_Programs**
  - Поля: `Training_Program_ID`, `Program_Name`, `Instructor`, `Start_Date`, `End_Date`.


### Завершення та збереження на GitHub:
1. Виконайте всі завдання у вигляді SQL-запитів.
2. Створіть файл `README.md`, де детально опишіть процес створення бази даних, вставки даних з Excel та виконання SQL-запитів.
3. Завантажте всі SQL-скрипти та файли на GitHub.


### Приклад виконання завдання:

1. **Створення репозиторію на GitHub**:
   - Створіть у своєму репозиторію на GitHub основні папки: `sql_scripts`, `data`, `results`, `docs`.

2. **Підготовка таблиць в Excel**:
   - Створіть два аркуші в Excel:
     - **Таблиця 1 (Employees)**: Поля — `ID`, `Name`, `Position`, `Salary`, `Department_ID`.
     - **Таблиця 2 (Departments)**: Поля — `Department_ID`, `Department_Name`.
   - Збережіть Excel-файл як `data/employees_departments.xlsx`.

3. **Створення бази даних**:
   - Встановіть **PostgreSQL** на своєму комп'ютері.
   - Створіть нову базу даних за допомогою SQL:

     ```sql
     CREATE DATABASE CompanyDB;
     USE CompanyDB;
     ```

4. **Створення таблиць у базі даних**:
   - Створіть дві таблиці для зберігання даних з Excel:

     ```sql
     CREATE TABLE Departments (
         Department_ID INT PRIMARY KEY,
         Department_Name VARCHAR(100)
     );

     CREATE TABLE Employees (
         ID INT PRIMARY KEY AUTO_INCREMENT,
         Name VARCHAR(100),
         Position VARCHAR(100),
         Salary DECIMAL(10, 2),
         Department_ID INT,
         FOREIGN KEY (Department_ID) REFERENCES Departments(Department_ID)
     );
     ```

5. **Імпорт даних із Excel**:
   - Використовуйте бібліотеку **`pandas`** для завантаження даних з Excel і вставки в базу даних за допомогою Python:

   ```python
   import pandas as pd
   import mysql.connector

   # Завантаження даних з Excel
   data = pd.read_excel('data/employees_departments.xlsx', sheet_name='Employees')

   # Підключення до бази даних
   conn = mysql.connector.connect(
       host="localhost",
       user="your_username",
       password="your_password",
       database="CompanyDB"
   )
   cursor = conn.cursor()

   # Вставка даних в таблицю Departments
   departments = pd.read_excel('data/employees_departments.xlsx', sheet_name='Departments')
   for _, row in departments.iterrows():
       cursor.execute("INSERT INTO Departments (Department_ID, Department_Name) VALUES (%s, %s)", 
                      (row['Department_ID'], row['Department_Name']))

   # Вставка даних в таблицю Employees
   for _, row in data.iterrows():
       cursor.execute("INSERT INTO Employees (Name, Position, Salary, Department_ID) VALUES (%s, %s, %s, %s)",
                      (row['Name'], row['Position'], row['Salary'], row['Department_ID']))

   conn.commit()
   cursor.close()
   conn.close()
   ```

6. **Виконання 20 SQL-запитів**:
   - Напишіть SQL-запити для виконання різних завдань. Ось кілька прикладів:
   
   #### SQL Basics:
   1. Отримати всі дані з таблиці **Employees**:
      ```sql
      SELECT * FROM Employees;
      ```
   2. Отримати імена та посади співробітників:
      ```sql
      SELECT Name, Position FROM Employees;
      ```
   3. Знайти співробітників із зарплатою більше $5000:
      ```sql
      SELECT Name, Salary FROM Employees WHERE Salary > 5000;
      ```
   4. Оновити зарплату співробітника на ім'я 'John Doe':
      ```sql
      UPDATE Employees SET Salary = 6000 WHERE Name = 'John Doe';
      ```

   #### Join:
   5. Зробити вибірку імен співробітників та назв відділів за допомогою JOIN:
      ```sql
      SELECT Employees.Name, Departments.Department_Name 
      FROM Employees
      JOIN Departments ON Employees.Department_ID = Departments.Department_ID;
      ```
   6. Вибрати співробітників із конкретного відділу (наприклад, IT):
      ```sql
      SELECT Employees.Name, Departments.Department_Name 
      FROM Employees
      JOIN Departments ON Employees.Department_ID = Departments.Department_ID
      WHERE Departments.Department_Name = 'IT';
      ```

   #### Aggregation:
   7. Підрахувати кількість співробітників у кожному відділі:
      ```sql
      SELECT Department_ID, COUNT(*) as EmployeeCount 
      FROM Employees
      GROUP BY Department_ID;
      ```
   8. Порахувати середню зарплату по кожному відділу:
      ```sql
      SELECT Department_ID, AVG(Salary) as AvgSalary 
      FROM Employees
      GROUP BY Department_ID;
      ```
   9. Знайти максимальну зарплату серед співробітників:
      ```sql
      SELECT MAX(Salary) FROM Employees;
      ```

   #### Інші запити:
   10. Отримати імена співробітників, які приєдналися до відділу після певної дати:
      ```sql
      SELECT Name FROM Employees WHERE Date_Joined > '2022-01-01';
      ```

   11. Видалити запис про співробітника з певним ID:
      ```sql
      DELETE FROM Employees WHERE ID = 5;
      ```

   12. Вивести зарплати співробітників у порядку спадання:
      ```sql
      SELECT Name, Salary FROM Employees ORDER BY Salary DESC;
      ```

   13. Вивести імена співробітників, зарплата яких більше середньої зарплати у компанії:
      ```sql
      SELECT Name FROM Employees WHERE Salary > (SELECT AVG(Salary) FROM Employees);
      ```

   14. Порахувати загальну кількість співробітників у компанії:
      ```sql
      SELECT COUNT(*) FROM Employees;
      ```

   15. Вивести імена співробітників, у яких зарплата є однією з трьох найбільших:
      ```sql
      SELECT Name, Salary FROM Employees ORDER BY Salary DESC LIMIT 3;
      ```

   16. Знайти співробітників, які працюють у відділі "Finance" і мають зарплату більше 4000:
      ```sql
      SELECT Name FROM Employees
      JOIN Departments ON Employees.Department_ID = Departments.Department_ID
      WHERE Department_Name = 'Finance' AND Salary > 4000;
      ```

   17. Додати нового співробітника в таблицю:
      ```sql
      INSERT INTO Employees (Name, Position, Salary, Department_ID)
      VALUES ('Alice Johnson', 'Manager', 7000, 2);
      ```

   18. Вивести кількість співробітників з кожного відділу:
      ```sql
      SELECT Departments.Department_Name, COUNT(*) AS EmployeeCount
      FROM Employees
      JOIN Departments ON Employees.Department_ID = Departments.Department_ID
      GROUP BY Departments.Department_Name;
      ```

   19. Видалити всі записи співробітників, які працюють у відділі "HR":
      ```sql
      DELETE FROM Employees WHERE Department_ID = (SELECT Department_ID FROM Departments WHERE Department_Name = 'HR');
      ```

   20. Оновити назву відділу з "Sales" на "Marketing":
      ```sql
      UPDATE Departments SET Department_Name = 'Marketing' WHERE Department_Name = 'Sales';
      ```

7. **Документування та збереження на GitHub**:
   - Створіть файл `README.md` у кореневій папці репозиторію.
   - Описуйте кожен SQL-запит із прикладами його виконання.
   - Додайте файли SQL-запитів та результати у відповідні папки `sql_scripts` та `results`.
   - Завантажте всі файли на GitHub (pull).